@page "/smarttorque-last-used/{companyName}"
@using eST1C.WebApp.Service
@inject eST1C.WebApp.Service.LogDataService LogDataService

<div class="mb-4">
</div>

<table class="table">
    <thead>
        <tr>
            <th>PC Name / Station</th>
            <th>Last Used</th>
        </tr>
    </thead>
    <tbody>
        @if (logs != null && logs.Any())
        {
            @foreach (var log in logs)
            {
                <tr>
                    <td>@log.PCName</td>
                    <td>@log.LastUsed.ToString("g")</td> 
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2">No data available</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string? companyName { get; set; }

    private List<LogDataService.LastUsedLogDTO> logs = new List<LogDataService.LastUsedLogDTO>();

    protected override async Task OnInitializedAsync()
    {
        logs = await LogDataService.GetLastUsedLogsAsync(companyName);

        logs = logs.OrderByDescending(log => log.LastUsed).ToList();
    }
}
