@page "/smarttorque-last-used/{companyName}"
@using eST1C.WebApp.Service
@inject eST1C.WebApp.Service.LogDataService LogDataService


<h3 class="mb-4">Last Used Workstation <span class="text-primary">@companyName</span></h3>
<div class="mb-4">
</div>

<table class="table table-bordered table-hover ">
    <thead class="table-light">
        <tr>
            <th>PC Name / Station</th>
            <th>Last Used</th>
        </tr>
    </thead>
    <tbody>
        @if (log != null)
        {

            <tr>
                <td>@log.PCName</td>
                <td>@log.LastUsed.ToString("g")</td>
            </tr>

        }
        else
        {
            <tr>
                <td colspan="2">No data available</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string? companyName { get; set; }

    @* private List<LogDataService.LastUsedLogDTO> log = new List<LogDataService.LastUsedLogDTO>(); *@
    private LogDataService.LastUsedLogDTO? log;
    protected override async Task OnInitializedAsync()
    {
        log = await LogDataService.GetLatestLogAsync(companyName);

    }
}
